<div class="container">
    <h2 align = center>Registration</h2>
    <form (submit)="OnSubmit()" method="get">
        <div class="block">
            <label for="username">Username:</label>
            <input [(ngModel)]="name" type="text" id="name" name="name" placeholder="name">
        </div>
        <div class="block">
            <label for="login">Login:</label>
            <input [(ngModel)]="login" type="text" id="login" name="login" placeholder="user123">
        </div>
        <div class="block">
            <label for="email">Email:</label>
            <input [(ngModel)]="email" type="email" id="email" name="email" placeholder="user123@gmail.com">
        </div>
        <div class="block">
            <label for="password">Password:</label>
            <input [(ngModel)]="password" type="password" id="password" name="password" placeholder="password">
        </div>
        <button class="btnSubmit" type="submit">Submit</button>
    </form>
</div>